*{
  padding : 0;
  margin :0
}
.App {
  text-align: center;
}
body {
background-color: #282c34;

}
.header {
  display: flex;
  justify-content: center;
  margin:8% 0 3% 0;
}
.content{
  display:flex;
  justify-content: center;
}

